@model NewsWebsite.ViewModels.Manage.ForgetPasswordViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <link type="text/css" href="/assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/CacheFiles/js/Ajax.js"></script>
</head>
<body>
    <div class="page-wrapper flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card p-4">
                        <div class="text-center text-uppercase h4 font-weight-light">
                            بازیابی کلمه عبور
                        </div>
                        <hr />
                        <p class="alert alert-info">
                            پس از وارد کردن ایمیل خود لینک تغییر رمز عبور به ایمیل شما ارسال می شود.
                        </p>
                        @if (ViewBag.success != null)
                        {
                            <p class="alert alert-success">
                                @ViewBag.success
                            </p>
                        }

                        <form asp-action="ForgetPassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary float-left">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


