<!doctype html>
<html lang="en">
<head>
    <link type="text/css" href="/assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/CacheFiles/js/Ajax.js"></script>
</head>
<body>
    <div class="mt-5">
        <p class="alert alert-success">
            کلمه عبور شما با موفقیت بازنشانی شد <a class="mr-2 text-white" asp-action="SignIn">(برای ورود کلیک کنید)</a>
        </p>
    </div>
</body>
</html>
    
