
@using NewsWebsite.Services.Contracts
@using NewsWebsite.Common
@inject IApplicationUserManager userManager

@{ 
    var user = await userManager.GetUserAsync(User);
}
<ul class="navbar-nav align-items-center d-none d-md-flex">
    <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                    @if (user.Image.HasValue())
                    {
                        <img alt="Image placeholder" src="~/avatars/@user.Image">
                    }

                    else
                    {
                        <img alt="Image placeholder" src="~/assets/img/UserPic.png">
                    }

                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">@user.FirstName @user.LastName</span>
                </div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <a class="dropdown-item" asp-action="Profile" asp-controller="Manage" asp-route-userId="@user.Id">
                <i class="ni ni-single-02"></i>
                <span>نمایه من</span>
            </a>
            <div class="dropdown-divider"></div>
            <form asp-action="SignOut" asp-controller="Manage" asp-area="Admin">
                <button type="submit" class="btn btn-link m-0 font-weight-normal dropdown-item">
                    <i class="ni ni-user-run"></i> خروج
                </button>
            </form>
        </div>
    </li>
</ul>