@using NewsWebsite.Common;
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Dashboard">
            <i class="ni ni-tv-2 text-primary"></i> داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Category">
            <i class="ni ni-bullet-list-67 text-red"></i> مدیریت دسته بندی ها
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Tag">
            <i class="ni ni-bullet-list-67 text-red"></i> مدیریت برچسب ها
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="News">
            <i class="ni ni-folder-17 text-blue"></i> مدیریت اخبار
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" hasp-action="Index" asp-controller="RoleManager">
            <i class="fa fa-user text-pink"></i> مدیریت نقش ها
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="UserManager">
            <i class="fa fa-users text-yellow"></i> مدیریت کاربران
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Video">
            <i class="fa fa-video text-yellow"></i> مدیریت ویدیوها
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Comments">
            <i class="fa fa-comments text-info"></i> مدیریت نظرات
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Newsletter">
            <i class="ni ni-notification-70 text-danger"></i> مدیریت خبرنامه
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-action="ChangePassword" asp-controller="Manage">
            <i class="ni ni-key-25 text-info"></i> تغییر کلمه عبور
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Profile" asp-controller="Manage" asp-route-userId="@User.Identity.GetUserId()">
            <i class="ni ni-circle-08 text-pink"></i> نمایه من
        </a>
    </li>
</ul>