@model NewsWebsite.ViewModels.Home.CategoryOrTagInfoViewModel
@using NewsWebsite.Common
@using NewsWebsite.ViewModels.Newsletter
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Archive List Posts Area Start ##### -->
<div class="vizew-archive-list-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Archive Catagory & View Options -->
                <div class="archive-catagory-view mb-30 d-flex align-items-center justify-content-between">
                    <!-- Catagory -->
                    <div class="archive-catagory">
                        <h4> @Model.Title</h4>
                    </div>
                    <!-- View Options -->
                    <div class="view-options">
                        <a href="archive-grid.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                        <a href="archive-list.html" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div id="container"></div>
                <div id="progress" class="text-center">
                    <p>در حال بارگزاری اطلاعات ...</p>
                    <div class="loadingCricle m-auto"></div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">
                    <!-- ***** MostPopularNews***** -->
                    @await Component.InvokeAsync("MostPopularNews")

                    @await Html.PartialAsync("_RegisterInNewsletter", new NewsletterViewModel())
                    <!-- ***** Single Widget ***** -->
                    @await Component.InvokeAsync("MostTalkNews" , "day")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Archive List Posts Area End ##### -->
