@model NewsWebsite.ViewModels.Home.HomePageViewModel
@using NewsWebsite.Common
@using NewsWebsite.ViewModels.Newsletter
@using NewsWebsite.ViewModels.Home

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">نتایج جستجو</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
 @*##### Breadcrumb Area End ##### 
 ##### Archive List Posts Area Start #####*@ 
<div class="vizew-archive-list-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                 @*Archive Catagory & View Options*@ 
                <div class="archive-catagory-view mb-30 d-flex align-items-center justify-content-between">
                     @*Catagory*@ 
                    <div class="archive-catagory">
                        <h4> نتایج جستجو </h4>
                    </div>
                     @*View Options*@ 
                    <div class="view-options">
                        <a href="archive-grid.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                        <a href="archive-list.html" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    </div>
                </div>
                @if (Model.News.Count() != 0)
                {
                    <div id="NewsPaginate">
                        @await Html.PartialAsync("_SearchPaginate", new NewsPaginateViewModel(Model.CountNewsPublished, Model.News.Take(5).ToList()))
                    </div>
                    <div id="page" class="mt-5">
                        <ul class="pagination"></ul>
                    </div>
                }
                else
                {
                    <p class="alert alert-info">خبری یافت نشد ...</p>
                }
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">
                    @await Html.PartialAsync("_RegisterInNewsletter", new NewsletterViewModel())
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/pagination.min.js"></script>
<script>

    $(function () {
        $('#page').Pagination({
            size: 20,
            limit: 5,
        }, function (obj) {
            var offset = (obj.page - 1) * 5;
            $.ajax({
                url: '/Home/SearchPaginate?searchText=' + @Model.News.First().SearchText + '&&offset=' + offset + '&&limit=5',
                beforeSend: function () { $('#modal-placeholder').after('<div class="preloader d-flex align-items-center justify-content-center"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>'); },
                complete: function () { $('.preloader').remove(); },
                error: function () {
                    ShowSweetErrorAlert();
                }
            }).done(function (result) {
                $("#NewsPaginate").html(result);
            });
        });
    });
</script>
