@model NewsWebsite.ViewModels.Manage.ChangePasswordViewModel
<div class="container content mt-5">
    <div class="row profile">
        <div class="col-md-12">
            <div class="profile-content">
                <div class="card-header p-0 ">
                    <h5>تغییر کلمه عبور </h5>
                </div>
                <div class="card-body" id="changePass">
                    <form asp-action="ChangePassword">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div class="form-group">
                            <label asp-for="OldPassword"></label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="button" data-save="ajax-changePass" data-url="@Url.Action("ChangePassword","Account")" class="btn btn-primary float-left">تغییر کلمه عبور</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




