
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-tabs {
    background-color: #fff !important;
    padding: 8px 0px !important;
}
    li .active.show {
    color: #576373;
    border-color: #C5D0DC #C5D0DC transparent;
    border-top-color: rgb(197, 208, 220);
    border-top-color: rgb(197, 208, 220);
    border-top: 2px solid #db4437 !important;
    background-color: #FFF !important;
    z-index: 1;
    line-height: 18px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .15);
}

</style>

<div class="container mt-5 mb-5 border">
    <div id="user-profile-2" class="user-profile p-4">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a class="active show" data-toggle="tab" href="#profile">
                        <i class="ace-icon fa fa-user"></i>
                        پروفایل
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#bookmarks">
                        <i class="ace-icon fa fa-bookmark"></i>
                        اخبار بوکمارک 
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#changePassword">
                        <i class=" ace-icon fa fa-key"></i>
                        تغییر کلمه عبور
                    </a>
                </li>
            </ul>

            <div class="tab-content mt-4">
                <div id="profile" class="tab-pane in active">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 text-center">
                            <span>
                                <img class="editable img-responsive" src="~/assets/img/UserPic.png" height="150">
                            </span>

                            <a href="#" class="btn btn-sm btn-block btn-success mt-2">
                                <i class="ace-icon fa fa-edit bigger-120"></i>
                                <span class="bigger-110">ویرایش پروفایل</span>
                            </a>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <h5 class="text-primary mb-4">
                                <span class="middle">آرزو ابراهیمی</span>
                            </h5>

                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> نام کاربری </div>

                                    <div class="profile-info-value">
                                        <span>arz_ebrahimi</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> ایمیل </div>

                                    <div class="profile-info-value">
                                        <span>aeo.ebrahimi@gmail.com</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> سن </div>

                                    <div class="profile-info-value">
                                        <span>38</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> تاریخ عضویت </div>

                                    <div class="profile-info-value">
                                        <span>2010/06/20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="hr hr-8 dotted"></div>

                            
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>

                <div id="bookmarks" class="tab-pane">
                    <div class="profile-feed row">
                       
                        <div class="col-sm-12">
                            <div class="profile-activity clearfix">
                                <div>
                                    <a href="#">  افزایش ۹ درصدی سرقت در تهران</a>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                        13 اردیبهشت 1398
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a href="#">
                                        <i class="ace-icon fa fa-times text-danger"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="profile-activity clearfix">
                                <div>
                                    <a href="#">  افزایش ۹ درصدی سرقت در تهران</a>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                        13 اردیبهشت 1398
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a href="#">
                                        <i class="ace-icon fa fa-times text-danger"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="profile-activity clearfix">
                                <div>
                                    <a href="#">  افزایش ۹ درصدی سرقت در تهران</a>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                        13 اردیبهشت 1398
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a href="#">
                                        <i class="ace-icon fa fa-times text-danger"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="profile-activity clearfix">
                                <div>
                                    <a href="#">  افزایش ۹ درصدی سرقت در تهران</a>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                        13 اردیبهشت 1398
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a href="#">
                                        <i class="ace-icon fa fa-times text-danger"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="changePassword" class="tab-pane">
           
                </div>
            </div>
        </div>
    </div>
</div>
